body{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table#game-area{
    border-spacing: 10px;
    margin: 0% auto;
}
td{
    width: 40px;
    height: 40px;
    font-weight: 1000;
    text-align: center;
    border: brown 2px solid;
    transition: 1s;
}

.empty{
    /* just dummy */
}

/* for player spaces */
.player{
    border-radius: 7px;
    border: blue 2px solid;
    background-color: aqua;
    color: black;
    cursor: pointer;
}
.player:hover{
    border-radius: 12px;
}
.player:active{
    border: aqua 2px solid;
    background-color: blue;
    color: aliceblue;
}

/* opponent also called as 2nd player */
.opponent{
    border-radius: 7px;
    border: red 2px solid;
    background-color: pink;
    color: black;
    cursor: pointer;    
}
.opponent:hover{
    border-radius: 12px;
}

.opponent:active{
    border: pink 2px solid;
    background-color: red;
    color: aliceblue;
    
}

div#info{
    text-align: center;
}
.name{
    font-weight: 400;
    font-size: 20px;
}
.value{
    font-weight: 400;
    font-size: 30px;
}
@media screen and (max-width: 700px) {
    td{
        width: 20px;
        height: 20px;
        border: black 2px solid;
    }
}