body{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
figure{
    display: inline-block;
    margin: 20px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.8rem;
}
img{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    border : white 5px solid;
}
#banner{
    background-color: black;
    color : white;
    text-align: center;
}
#banner > h1{
    color: #FFFFFF;
    background: black;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
a{
    color: antiquewhite;
}
a:hover{
    color: azure;
}
table#game-area{
    border-spacing: 10px;
    margin: 0% auto;
}
td{
    width: 40px;
    height: 40px;
    font-weight: 1000;
    text-align: center;
    border: brown 2px solid;
    transition: 1s;
}

.empty{
    /* just dummy */
}

/* for player spaces */
.player{
    border-radius: 7px;
    border: blue 2px solid;
    background-color: aqua;
    color: black;
    cursor: pointer;
}
.player:hover{
    border-radius: 12px;
}
.player:active{
    border: aqua 2px solid;
    background-color: blue;
    color: aliceblue;
}

/* opponent also called as 2nd player */
.opponent{
    border-radius: 7px;
    border: red 2px solid;
    background-color: pink;
    color: black;
    cursor: pointer;    
}
.opponent:hover{
    border-radius: 12px;
}

/* active class for pressing cpu  */
.opponent:active , .active{     
    border: pink 2px solid;
    background-color: red;
    color: aliceblue;
    
}

div.info{
    color: white;
    margin: 0% auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    background: #020202;
    background: -moz-linear-gradient(left, #020202 0%, #7C7C7C 50%, #373737 100%);
    background: -webkit-linear-gradient(left, #020202 0%, #7C7C7C 50%, #373737 100%);
    background: linear-gradient(to right, #020202 0%, #7C7C7C 50%, #373737 100%);
}
blue, red{
    text-shadow: 2px 2px 2px black;
}
blue{
    color : aqua;
}
red{
    color: pink;
}
.stats{
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 2px 2px 2px #1C0808;
}
div.info.blue{
    color: #FFF;
    background: #5034CE;
background: -moz-linear-gradient(left, #5034CE 0%, #1C6EA4 50%, #5D28C5 100%);
background: -webkit-linear-gradient(left, #5034CE 0%, #1C6EA4 50%, #5D28C5 100%);
background: linear-gradient(to right, #5034CE 0%, #1C6EA4 50%, #5D28C5 100%);
}
div.info.red{
    color: #FFF;
    background: #FF0000;
background: -moz-linear-gradient(left, #FF0000 0%, #C67272 50%, #AF0000 100%);
background: -webkit-linear-gradient(left, #FF0000 0%, #C67272 50%, #AF0000 100%);
background: linear-gradient(to right, #FF0000 0%, #C67272 50%, #AF0000 100%);
}
.name{
    font-weight: 400;
    font-size: 20px;
}
.value{
    font-weight: 400;
    font-size: 30px;
}
/* Start screen and end screen design */
.screen.hide{
    display: none;
}
.screen{
    font-weight: 700;
    text-align: center;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color : white;
  
}
.screen > *{
    margin: 20px;
}
.screen #win-msg{
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 0 0 10px #FFFFFF;
}
.screen > h1{
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
.screen > h2{
    color : white;
    text-align: center;
}

.startbtn {
    color: rgb(255, 255, 255);
    font-size: 32px; 
    line-height: 16px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
    padding: 20px;
}
.startbtn:hover {
background: #1C6EA4; 
}
.startbtn:active{
background: #144E75; }

.small{
    border-radius: 50%;
    margin: 10px;
    font-size: 1rem;
    font-weight: 10000;
}
.flex{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 700px) {
    td{
        width: 20px;
        height: 20px;
        border: black 2px solid;
    }
    img{
        width: 100px;
        height: 100px;
    }
    figure{
        font-size: 0.8rem;
    }
    .startbtn {
        font-size: 20px;
        padding: 10px;
    }
}